{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>momo-d3</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="selectMe"></div>
<div id="duplicate-chart" style="max-width: 700px; min-width: 380px; max-height: 500px;"></div>

<div id="selectDate"></div>
<div id="bank-chart"></div>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/bank.js' %}"></script>
</body>
</html>
