[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-q = "*"
beautifulsoup4 = "*"
selenium = "*"
lxml = "*"
autopep8 = "*"
django-crontab = "*"
django-apscheduler = "*"
apscheduler = "*"
asgiref = "*"

[requires]
python_version = "3.7"
